@model CodeSearch.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your Password?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-login-container">
    <div class="container w-feature-container">
        <div class="w-login-wrap">
            <h1 class="w-primary-title">@ViewBag.Title</h1>

            <div id="w-login-form">
                <div class="w-login-logo">
                    <i class="fa fa-4x fa-user-circle"></i>
                </div>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="w-login-field">
                       
                            <h4 class="w-reset-title">Enter your Email Address</h4>

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Email) })

                            <input id="w-login-submit" class="w-login-btn" type="submit" value="Email Link" />
                        
                    </div>
                }

            </div>
        </div>
    </div>
</div><!-- w-login-container -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
