@model CodeSearch.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}


<div class="w-login-container">
    <div class="container w-feature-container">
        <div class="w-login-wrap">
            <h1 class="w-primary-title">Account Log In</h1>

            <form id="w-login-form">
                <div class="w-login-logo">
                    <i class="fa fa-4x fa-user-circle"></i>
                </div>

                <div class="w-login-field">
                    <input type="text" placeholder="Enter Username" name="uname" required><br />
                    <input type="password" placeholder="Enter Password" name="psw" required><br />

                    <button id="w-login-submit" class="w-login-btn" type="submit">Log In</button>
                </div>

                <div class="w-login-field">
                    <p class="w-remember">
                        <span class="w-rem-span">Remember Me</span>
                        <input type="checkbox" checked="checked">
                    </p>
                    <span class="psw"><a href="#">Forgot Password? </a></span>
                    <span class="psw"><a href="#"> Create a New Account</a></span>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="w-body-wrap">
    <div class="w-slide-wrap">
        <ul class="w-home-slider">
            <li><img src="/Content/Images/dev-assistant-login-background.jpg"></li>
            <li><img src="/Content/Images/web-assistant-polar.jpg" /></li>
            <li><img src="/Content/Images/web-assistant-smart-phone.jpg" /></li>
        </ul>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
