@model CodeSearch.Models.RegisterViewModel
@{
    ViewBag.Title = "Register New Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-login-container">
    <div class="container w-feature-container">
        <div class="w-login-wrap">
            <h1 class="w-primary-title">@ViewBag.Title</h1>

            <div id="w-login-form">
                <div class="w-login-logo">
                    <i class="fa fa-4x fa-user-circle"></i>
                </div>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="w-login-field">

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Email) })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Password) })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ConfirmPassword) })

                    <input id="w-login-submit" type="submit" class="w-login-btn" value="Register" />

                </div>

                <p class="psw">
                    Already a Member?
                    @Html.ActionLink("Log In ", "Login", new { @class = "psw" })
                </p>

                }

            </div>
        </div>
    </div>
</div><!-- end .w-login-container -->

<div class="w-body-wrap">
    <div class="w-slide-wrap">
        <ul class="w-home-slider">
            <li><img src="/Content/Images/dev-assistant-login-background.jpg"></li>
        </ul>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
