@model CodeSearch.Data.Category

@{
    ViewBag.Title = "Category Details";
    Layout = "~/Views/Shared/_DashboardCategories.cshtml";
}

@Html.Partial("_PageTitle")

<div class="row w-feature-row">
    <div class="col-sm-12">

        <div class="form-group row">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 offset-md-4">
                @Html.DisplayFor(model => model.CategoryName)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.CategoryDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 offset-md-4">
                @Html.DisplayFor(model => model.CategoryDescription)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.ImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 offset-md-4">
                <img src="@Model.ImageURL" class="w-index-img">
            </div>
       </div>

        <div class="w-back-btn">
            @Html.ActionLink("Back to List", "Index") |
            @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId })
        </div>
        
        </div>    
    </div><!-- end .w-feature-row -->
