@model CodeSearch.ViewModels.SnippetsViewModel

@{
    ViewBag.Title = "Edit Snippet";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@Html.Partial("_PageTitle")

<div class="row w-feature-row">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-sm-12">

        <!-- Start Form Groups -->
        <div class="form-group row">
            <label for="example-text-input" class="control-label col-md-2">Select Language</label>
            <div class="col-sm-10">
                <select id="mode" name="SnippetLanguage" class="w-code-select" onchange="loadModeForSelectedOption()">
                    <option value="text" selected="selected" data-mime-type="text">
                        Plain Text
                    </option>
                    <option value="HTML"
                            data-mime-type="text/html"
                            data-script="/Scripts/codemirror-5.26.0/mode/htmlembedded/htmlembedded.js">
                        HTML
                    </option>
                    <option value="CSS"
                            data-mime-type="text/css"
                            data-script="/Scripts/codemirror-5.26.0/mode/css/css.js">
                        CSS
                    </option>
                    <option value="Javascript"
                            data-mime-type="javascript"
                            data-script="/Scripts/codemirror-5.26.0/mode/javascript/javascript.js">
                        Javascript
                    </option>
                    <option value="PHP"
                            data-mime-type="application/x-httpd-php"
                            data-script="/Scripts/codemirror-5.26.0/mode/php/php.js">
                        PHP
                    </option>
                    <option value="Plain PHP"
                            data-mime-type="text/x-php"
                            data-script="/Scripts/codemirror-5.26.0/mode/php/php.js">
                        Plain PHP
                    </option>
                    <option value="C#"
                            data-mime-type="text/x-csharp"
                            data-script="/Scripts/codemirror-5.26.0/mode/clike/clike.js">
                        C#
                    </option>
                    <option value="ASP.NET"
                            data-mime-type="application/x-aspx"
                            data-script="/Scripts/codemirror-5.26.0/mode/htmlembedded/htmlembedded.js">
                        ASP.NET
                    </option>
                    <option value="Java"
                            data-mime-type="text/x-java"
                            data-script="/Scripts/codemirror-5.26.0/mode/java/java.js">
                        Java
                    </option>
                    <option value="XML"
                            data-mime-type="text/xml"
                            data-script="/Scripts/codemirror-5.26.0/mode/xml/xml.js">
                        XML
                    </option>
                    <option value="SQL"
                            data-mime-type="text/x-mysql"
                            data-script="/Scripts/codemirror-5.26.0/mode/sql/sql.js">
                        SQL
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Snippets.SnippetContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea id="w_code" name="Snippets.SnippetContent" class="w-fields form-control codemirror-textarea">@Html.Raw(Model.Snippets.SnippetContent)</textarea>
                @Html.ValidationMessageFor(model => model.Snippets.SnippetContent, "Please enter a Code Snippet", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group row">
            @Html.LabelFor(model => model.SnippetName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 offset-md-4">
                @Html.EditorFor(model => model.SnippetName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SnippetName, "Please enter a Snippet Name", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.SnippetDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-6 offset-sm-4 w-text-area">
                @Html.TextAreaFor(model => model.SnippetDescription, new { htmlAttributes = new { @class = "form-control w-description-box" } })
                @Html.ValidationMessageFor(model => model.SnippetDescription, "Please Enter a Snippet Description", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Categories.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-6 offset-sm-4">

                <select name="categoryList" id="categoryList">
                    @foreach (var item in Model.CategoryList)
                {
                    <option value="@item.CategoryId.ToString()">
                        @item.CategoryName.ToString()
                    </option>
            }
                </select>


            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Snippets.ReferenceURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 offset-md-4">
                @Html.EditorFor(model => model.Snippets.ReferenceURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Snippets.ReferenceURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
</div>

<div class="w-back-btn">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>

    var mode = "@Model.Snippets.SnippetLanguage"
    var selectedCatId = "@Model.selectedCategory"

        function setValues() {
            var modeSelect = document.getElementById("mode");
            var catSelect = document.getElementById("categoryList");
            modeSelect.value = mode;
            catSelect.value = selectedCatId;
        }
        setValues();
</script>