@model IEnumerable<CodeSearch.Data.Project>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    var SuccessMessage = TempData["SuccessMessage"];
    var DeleteMessage = TempData["DeleteMessage"];
    var UpdateMessage = TempData["UpdateMessage"];
}

@Html.Partial("_PageTitle")

<p class="w-create-btn-sm btn btn-default"> @Html.ActionLink("Create New", "Create") </p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Project Title")
        </th>
        <th>
            @Html.DisplayName("Project Description")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
            </td>
        </tr>
    }

</table>
