@model IEnumerable<CodeSearch.Data.Project>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    var SuccessMessage = TempData["SuccessMessage"];
    var DeleteMessage = TempData["DeleteMessage"];
    var UpdateMessage = TempData["UpdateMessage"];
    var FailureMessage = TempData["FailureMessage"];
}

<div class="w-index-title">
    @Html.Partial("_PageTitle")

    @if (SuccessMessage != null)
    {
        @Html.Raw(TempData["SuccessMessage"].ToString())
    }

    @if (DeleteMessage != null)
    {
        @Html.Raw(TempData["DeleteMessage"].ToString())
    }

    @if (UpdateMessage != null)
    {
        @Html.Raw(TempData["UpdateMessage"].ToString())
    }

    @if (FailureMessage != null)
    {
        @Html.Raw(TempData["FailureMessage"].ToString())
    }
</div>

<p class="w-create-btn-sm btn btn-default"> @Html.ActionLink("Create New", "Create") </p>

<table class="table w-index-table">
    <tr>
        <th>
            @Html.DisplayName("Project Title")
        </th>
        <th>
            @Html.DisplayName("Project Description")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
            </td>
        </tr>
    }

</table>
